.article-box {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: calc(33% - 20px);
    box-shadow: 0 4px 8px 0 var(--box-shadow-color);
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

.article-box img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.article-box h3 {
    margin: 10px 0;
    color: var(--text-color);
}

.article-box p {
    margin: 5px 0;
    color: var(--text-color);
}

.article-box a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--link-color);
}

#articles-list {
    display: flex;
    flex-wrap: wrap;
}